<component name="libraryTable">
  <library name="mybatis-3.5.17">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../util/db jars/mybatis-3.5.17.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../util/db jars/mysql-connector-j-9.1.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>